<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	
</head>
<body>

	<div class="col-md-2 text-right">
		<a href="{{url_for('gdisconnect')}}" style="font-size:18;text-align:right;position:absolute; top:10; right:10;">Logout </a>
	</div>
	<center>
		<h1>Restaurant List</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}

				<ul>
					{% for message in messages %}
						<li><strong>{{message}}</strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<a href='{{url_for("newRestaurant") }}' style="font-size:15;margin-top:15px;">Create New Restaurant</a>
		{% for i in items %}

			<div>
				<p>{{i.id}}. {{i.name}} <a href='{{url_for("restaurantMenu", restaurant_id = i.id) }}'>View</a>
					<a href='{{url_for("editRestaurant", restaurant_id = i.id) }}'>Edit</a>
					<a href = '{{url_for("deleteRestaurant", restaurant_id = i.id) }}'>Delete</a>
				</p>
			</div>
			<br>
		{% endfor %}
	<center>
</body>

</html>